<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WASM</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @*Item*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/items" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Artikel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/createitem" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Artikel erstellen
            </NavLink>
        </div>
        @*Order*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/orders" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Bestellungen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/createorder" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Bestellung erstellen
            </NavLink>
        </div>
        @*Customer*@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/customers" Match="NavLinkMatch.All">
                <span class="oi oi-book" aria-hidden="true"></span> Kunden
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/createcustomer" Match="NavLinkMatch.All">
                <span class="oi oi-pencil" aria-hidden="true"></span> Kunde erstellen
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
