@page "/createitem"
@inject HttpClient http
@inject ISnackbar Snackbar

<h3>Produkt erstellen</h3>

<EditForm Model="item" OnValidSubmit="OnValidSubmit">
	<DataAnnotationsValidator />

	<label>Name</label>
	<InputText class="col-lg-5 border" @bind-Value="item.Name"></InputText>
	<br />
	<label>Beschreibung</label>
	<InputText class="col-lg-5 border" @bind-Value="item.Description"></InputText>
	<br />
	<label>Preis</label>
	<InputNumber class="col-lg-5 border" @bind-Value="item.Price"></InputNumber>
	<br />
	<button type="submit" class="border">Anlegen</button>
</EditForm>

@code {
	ItemCreateEditDto item = new();

	protected override void OnInitialized()
	{
		StateHasChanged();
	}

	protected async void OnValidSubmit()
	{
		ItemDto result = await Api.Post<ItemDto>("http://localhost:5244/api/createitem", item, http);
		Snackbar.Add($"{result.Name} hinzugefügt", Severity.Success);
	}
}
